<%= form_with(model: batter, local: true) do |form| %>
  <% if batter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batter.errors.count, "error") %> prohibited this batter from being saved:</h2>

      <ul>
      <% batter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
